@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-60: #111111;
    --cor-30: #333333;
    --cor-10: #AD0000;
    --branco: #FFFFFF;
}

body {
    background: var(--cor-60) !important;
    font-family: 'Roboto', sans-serif !important;

    margin: 0;

    color: var(--branco);

    position: relative;
    min-height: 100vh;
}

.conteudo {
    padding-bottom: 70px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 70px;
}

::-webkit-scrollbar{
    width: 15px;
    
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-30);
    border-radius: 5px;
    border: 3px solid var(--cor-60);
}

::-webkit-scrollbar-track {
    background-color: var(--cor-60);
    border-radius: 5px;
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-10);
}


