.lista .linha-cinema {
    grid-template-columns: 1fr!important;
}

.lista .linha {
    grid-template-columns: 0.5fr 1fr 0.5fr 0.25fr;
}

.lista .linha:not(.linha-cabeca) {
    word-break: break-all;
}